:root {
    --primary: #DAD7CD;
    --secondary: #588157;
    --tertiary: #344E41;
  }
  
  * {
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: var(--tertiary);
    font-size: 16px;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
    color: var(--tertiary);
  }

  header {
    margin-top: 50px;
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  p {
    font-size: 25px;
  }
  
  input {
      width: 100%;
      border: 1px solid;
      margin: 0 0 5px;
      padding: 10px;
  }
  
  .card-header h2 {
    color: var(--primary);
  }
  
  .btn {
    font-size: 25px;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    color: var(--primary);
    background-color: var(--tertiary);
  }
  
  .navbar-text {
    display: inline;
  }
  
  .navbar {
    width: 100%;
    position: fixed;
    background-color: var(--tertiary);
  }
  
  .nav-item {
    margin: 0 40px;
  }
  
  .nav-item a {
    color: var(--primary);
  }
  
  .tech-blog-title {
    padding: 3% 4%;
    background-color: var(--tertiary);
    color: var(--primary);
  }
  
  .tech-blog-title p {
    max-width: 75%;
  }
  
  .app-title-text {
    font-size: 40px;
    background-color: var(--primary);
    color: var(--tertiary);
    padding: 0 10px;
    display: inline-block;
  }
  
  .app-title-text a {
    color: var(--tertiary);
  }
  
  .list-group {
    padding: 1%;
  }
  
  .list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--tertiary);
    color: var(--primary);
  }
  
  .card {
    margin: 0 0 20px 0;
    border: 3px solid var(--tertiary);
  }
  
  .card-header {
    color: var(--primary);
    background-color: var(--tertiary);
    padding: 1%;
  }
  
  .card-body {
    padding: 1%;
  }
  
  .form-label {
    font-size: 20px;
    margin: 0 0 0 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 1%;
    margin: 5px 0;
    font-size: 20px;
    border: 2px solid var(--tertiary);
    border-radius: var(--border-radius);
  }
  

  .post-div {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .post-section {
    justify-content: space-between;
  }
  

  .footer-section {
    justify-content: center;
  }
  
  
  /*AA - add media queries here*/